useDynLib("GeneralizedUmatrix", .registration = TRUE)
importFrom(Rcpp, evalCpp)
importFrom(RcppParallel, RcppParallelLibs)

#exportPattern("^[[:alpha:]]+")

export(GeneralizedUmatrix)
export(plotTopographicMap)
export(XYcoords2LinesColumns)
export(upscaleUmatrix)
export(NormalizeUmatrix)
export(GeneratePmatrix)
export(CalcUstarmatrix)
export(TopviewTopographicMap)
export(ExtendToroidalUmatrix)
export(UniqueBestMatchingUnits)
export(LowLand)
export(ReduceToLowLand)
export(Uheights4Data)
export(ListAsEsomNeurons)

#Island generation now in ProjectionBasedClustering package

import(ggplot2)


importFrom("grDevices", "dev.off", "png", "contourLines", "col2rgb", "colorRamp")
importFrom("graphics", "lines", "par", "rasterImage")
importFrom("stats", "median", "qnorm", "sd", "quantile", "runif", "dist","cmdscale")

